@model IndexViewModel
@{
    ViewData["Title"] = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    
<div class="w3-display-container w3-content w3-wide" >
    
    
    <video width="1100" height="800" muted loop autoplay>
        <source src="~/images/zia.mp4" type="video/mp4">
        @*<source src="movie.ogg" type="video/ogg">*@
       
    </video>

    <div class="w3-display-bottomleft w3-padding-large w3-opacity">
        <h1 class="w3-xxlarge">Zia</h1>
    </div>
</div>

    <!-- Page content -->
<div class="w3-content">
    <div class="row">


        <div class="col-6">
            <!-- About Section -->
            <div class="">
                <div class="">
                    <img src="~/images/132575097861554510.jpeg"
                         class="" 
                         width="400px"
                         height="500px" />

                </div>


            </div>
           
        </div>
        <div class="col-6">
            <h1 class="w3-center">عن الشركة</h1><br>
            <h5 class="w3-center">من سنه 1990</h5>
            <p class="w3-large">
                محتوى
                <span class="w3-tag w3-light-grey">
                    محتوى
                </span> محتوى
            </p>

            <p class="w3-large w3-text-grey w3-hide-medium">

                محتوى

            </p>
        </div>
    </div>
</div>

  
