@using System.Net.Http
@using Microsoft.AspNetCore.Http

@model IndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layoutsolution.cshtml";
}



<!------ Slid-->


<partial name="_allProduct" />


<div class="product">
    @foreach (var category in Model.Category)
    {

        <div class="data-container main-category">

	
            <span class="btn-cat">@category.Name </span>
        </div>

   
        var itemincat = Model.Item.Where(m => m.Category.Name.Equals(category.Name));

        <div class="row xxxx">

            @foreach (var itemx in itemincat)
            {


                <div class="col-10 mx-auto col-md-6 col-lg-4  hover03 column">
                    <div class="featured-container p-3">
                        <figure>
                            <img src="@itemx.img"
                                 class="img-fluid"
                                 alt="product" />
                        </figure>
                        <span class="featured-search-icon"
                              data-toggle="modal"
                              data-target="#productModal">
                            <i class="fas fa-plus-circle"></i>
                        </span>
                        <a asp-action="Details" asp-controller="Home"
                           asp-route-idItem="@itemx.Id" class="featured-store-link text-captilaze">اضافة</a>
                        <h6 class="text-capitalize text-center my-2">
                            @itemx.Category.Name
               

                        </h6>
            

                        <h6 class="text-center">
                            <span class="text-muted old-price mx-2">$@itemx.priceAfterDisCont</span>
                            <br />
                            <br />
                            <br />
                
                
                        </h6>
                        <h5>$@itemx.publicPrice</h5>
                    </div>
                </div>


            }

        </div>
    }
   



</div>