@import url("https://fonts.googleapis.com/css?family=Calligraffitti|Mali");
/* GENERAL STYLES */
:root {
  --mainOrange: #fa7418;
  --mainWhite: #fff;
  --mainBlack: #071013;
  --mainGrey: #9b9999;
  --TransGrey: rgba(0, 0, 0, 0.1);
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Courgette",
  cursive;

}
.navbar-brand img {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  width: 194px;
  height: 75px;
  border-radius: 18px;
}

.nav-top {

  align-items: flex-start;
  font-family: serif;
  font-size: 10px;
  font-weight: 600;
  color: rgb(29, 27, 27)!important;

}
.nav-top a{
  color: rgb(29, 27, 27) !important;
}

.search{
  padding-top: 10px;
}
.searchbar {
   margin-bottom: auto;
   margin-top: auto;
   height: 60px;
   background-color: #353b48;
   border-radius: 30px;
   padding: 10px;
 }

 .search_input {
   color: white;
   border: 0;
   outline: 0;
   background: none;
   width: 0;
   caret-color: transparent;
   line-height: 40px;
   transition: width 0.4s linear;
 }

 .searchbar:hover>.search_input {
   padding: 0 10px;
   width: 450px;
   caret-color: red;
   transition: width 0.4s linear;
 }

 .searchbar:hover>.search_icon {
   background: white;
   color: #e74c3c;
 }

 .search_icon {
   height: 40px;
   width: 40px;
   float: right;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   color: white;
   text-decoration: none;
 }
.carousle {
align-items: center;
margin: auto;

}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  font-weight: 700;
}
.carousel-control-next {
  right: 25%;
}
.carousel-control-prev {
  left: 25%;
}
.carousle img{
width: 100%;
height: auto;
background-size: cover;
-webkit-background-size: cover;
height: 400px;
}
.cart{
  float: right;
  padding-right: 63px;
  padding-top: 10px;
 }
.text-slanted {
  font-family: "Calligraffitti", cursive;
}
.text-yellow {
  color: var(--mainOrange);
}
.btn-yellow {
  background: var(--mainOrange);
  text-transform: capitalize;
  font-size: 1.2rem;
  color: var(--mainBlack);
  border-radius: 0 !important;
}
.btn-yellow:hover {
  background: var(--mainBlack);
  color: var(--mainOrange);
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: var(--mainBlack);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainBlack);
}
.btn-black:hover {
  background: var(--mainBlack);
  color: var(--mainWhite);
}

.banner-products,
.banner-single-product,
.banner-store {
  min-height: 60vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
}
.banner-single-product {
  min-height: 60vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
}
.banner-store {
  min-height: 60vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
}
.text-rtl{
  direction: rtl;
  text-align: right;

}
/* #######################HomePage############### */
/* navbar */
.nav-bottem {
background-color: var(--mainOrange);
border-radius: 2px solid transparent;
padding: 2px;
margin-bottom:10px ;

}
.navbar-toggler {
  outline: none !important;
  border: none;
  font-size: 2.2rem;
  color: var(--mainYellow) !important;
}
.nav-link {
  font-size: 1.6rem;
  border-bottom: 0.1rem solid transparent;
}
.nav-link:hover {
  font-size: 1.6rem;
  border-bottom: 0.1rem solid var(--mainOrange);
}
.nav-active {
  border-bottom: 0.1rem solid var(--mainOrange);
  
}
.nav-active:hover {
  border-bottom: 0.1rem solid transparent;
}

.navbar-icon {
  font-size: 1.6rem;
}
.navbar-cart-icon {
  color: var(--mainOrange);
  position: relative;
}
.navbar-cart-icon:hover {
  color: var(--mainGrey);
}
.cart-items {
  color: var(--mainWhite);
  position: absolute;
  top: -15%;
  right: -25%;
  padding: 0.2rem 0.3rem;
  background: var(--mainYellow);
  font-size: 0.1rem;
  border-radius: 50%;
}
/* banner  */
.banner {
  min-height: calc(100vh - 101px);
  background: url("../img/pageBcg/bannerBcg.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* services */
.service-icon {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--mainYellow);
  background: var(--mainGrey);
  padding: 0.5rem 1rem;
  border-radius: 50%;
}
/* categories */
.categories-link {
  color: var(--mainBlack);
  text-decoration: none;
}
.categories-link:hover {
  color: var(--mainGrey);
  text-decoration: none;
}
.categories-underline {
  height: 0.1rem;
  width: 5rem;
  background: var(--mainYellow);
}
.category-container {
  position: relative;
}
.category-img {
  transition: all 1s linear;
}
.category-container:hover .category-img {
  opacity: 0.5;
}
.category-link {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.2rem 3rem 0.2rem 0.2rem;
  background: var(--mainWhite);
  color: var(--mainBlack);
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  opacity: 0;
  transition: all 1s linear;
  text-decoration: none !important;
}
.category-link:hover {
  color: var(--mainGrey);
}
.category-container:hover .category-link {
  opacity: 1;
}
/* home filler */
.home-filler {
  min-height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/home-filler.jpeg") center/cover fixed no-repeat;
}
.collection-link {
  color: var(--mainYellow);
  text-decoration: none !important;
}
.collection-link:hover {
  color: var(--mainGrey);
  text-decoration: none !important;
}
.collection-underline {
  height: 0.1rem;
  width: 5rem;
  background: var(--mainYellow);
  margin: 0 auto;
}
/* featured section */
.featured-container {
  background: var(--TransGrey);
  position: relative;
  overflow: hidden;
}
.featured-search-icon {
  background: var(--mainWhite);
  display: inline-block;
  padding: 0.2rem 0.4rem;
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 1.2rem;
  transform: translateX(110%);
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.featured-container:hover .featured-search-icon {
  transform: translateX(0%);
}
.featured-store-link {
  background: var(--mainOrange);
  color: var(--mainBlack);
  padding: 0.2rem 0.4rem;
  position: absolute;
  right: 0;
  top: 70%;
  transform: translateX(110%);
  transition: all 1s ease-in-out;
}
.featured-store-link:hover {
  color: var(--mainBlack);
}
.featured-container:hover .featured-store-link {
  transform: translateX(0%);
}

.old-price {
  text-decoration: line-through;
}
/* partners */
.partners {
  background: var(--TransGrey);
}
.carousel-control-prev {
     font-size: 2.5rem;
     color: var(--mainBlack);
     transform: translateX(-200%);
     left: 18%;
}
.carousel-control-next {
  font-size: 2.5rem;
  color: var(--mainBlack);
  transform: translateX(200%);
  -webkit-transform: translateX(200%);
  right: 18%;
}
/* newsletter */
.form-icon {
  background: var(--mainGrey);
  color: var(--mainBlack);
}
/* skills */
.skills {
  background: var(--mainBlack);
}
.skill-icon {
  color: var(--mainYellow);
  font-size: 2rem;
}
/* footer */
.footer {
  background: rgba(0, 0, 0, 0.8);
}
.footer-title {
  border: 0.2rem solid var(--mainOrange);
  padding: 0.4rem;
}
.footer-icon {
  color: var(--mainYellow);
}
.footer-icon:hover {
  color: var(--mainWhite);
}
/* #######################Products############### */
.products-categories-underline {
  height: 0.2rem;
  width: 5rem;
  background: var(--mainYellow);
}
.products-categories-link {
  color: var(--mainBlack);
  text-decoration: none !important;
}
.products-categories-link:hover {
  color: var(--mainGrey);
}
.products-color {
  width: 1rem;
  height: 1rem;
}
.products-color-black {
  background: black;
}
.products-color-red {
  background: red;
}
.products-color-blue {
  background: blue;
}
.products-color-green {
  background: green;
}
.products-color-yellow {
  background: yellow;
}
/* ##############END OF PRODUCTS #################### */
/* ##############SINGLE PRODUCT #################### */
.single-product-photo {
  background: var(--TransGrey);
  opacity: 0.5;
  transition: all 0.3s linear;
  cursor: pointer;
  border: 0.1rem solid transparent;
  box-sizing: border-box !important;
}
.single-product-photo:hover {
  border-color: var(--mainYellow);
  opacity: 1;
}
.rating-icon {
  color: var(--mainYellow);
}
.product-info-link {
  color: var(--mainGrey);
  text-decoration: none !important;
}
.product-info-link:hover {
  color: var(--mainYellow);
}

/* ##############END OF SINGLE PRODUCT #################### */
