<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="icon-bar">

                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-home px-1"></i>
                    </div>
                    <div class="col-8">
                        <a class="active side-name" asp-area="Customer" asp-controller="Home" asp-action="Index1" >
                            <span class="side-name">
                                products

                            </span>
                        </a>
                    </div>
                </div>


                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-search px-1"></i>
                        
                    </div>
                    <div class="col-8 ">
                        <a class="active side-name" asp-area="Customer" asp-controller="Home" asp-action="Index1" asp-route-catid="5">
                            Chocolate
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-envelope px-1"></i>
                    </div>
                    <div class="col-8">
                        <a class="active side-name" asp-area="Customer" asp-controller="Home" asp-action="Index1" asp-route-catid="3">
                            <span class="side-name">
                                Honey
                            </span>
                        </a>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-envelope px-1 "></i>
                    </div>
                    <div class="col-8">
                        <a class="active side-name" asp-area="Customer" asp-controller="Home" asp-action="Index1"asp-route-catid="6">
                            <span class="side-name">
                                Frozen
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-envelope px-1"></i>
                    </div>
                    <div class="col-8">
                        <a class="active side-name" asp-area="Customer" asp-controller="Home" asp-action="Index1"asp-route-catid="8">
                            <span class="side-name" style="color: red;">
                                Offers
                            </span>
                        </a>
                    </div>
                </div>
                
            </div>   
        </div>
        <div class="col-9">
            <div class="wrapper">

                <video autoplay loop muted class="wrapper__video">
                    <source src="//vimeo-hp-videos.global.ssl.fastly.net/3/3.mp4">
                </video>

            </div>
        </div>

    </div>
</div>