@using Microsoft.AspNetCore.Http
@using Zia.Utility
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
          content="الموقع الرسمى ل  zia  اكبر مصنع للمنتجات الغذائية " />
    <meta name="keywords" content="Zia, Food, industry, EH-group, ehg-group " />
    <meta name="author" content="Beshoy george " />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet" />
    <!-- title of site -->
    <title>Zia</title>
    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="~/css/allfont.min.css" />
    <!--animate.css-->
    <link rel="stylesheet" href="~/css/animate.css" />
    <!--owl.carousel.css-->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" />
    <!--responsive.css-->
    <link rel="stylesheet" href="~/css/responsive.css" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <!-- font awesome -->

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <!-- main css -->
    <link rel="stylesheet" href="~/css/main.css" />
    <style></style>
</head>
<body>
    <header>
        <!-- navbar top -->
        <nav class="navbar navbar-expand-lg nav-top">
            <div>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <partial name="_LoginPartial" />
                    </li>
                    <li class="nav-item">
                        <a href="products.html" class="nav-link">السياسات</a>
                    </li>
                    <li class="nav-item">
                        <a href="singleproduct.html" class="nav-link">الفروع </a>
                    </li>
                    <li class="nav-item">
                        <a href="store.html" class="nav-link">طلبات التعاقد</a>
                    </li>

                    <li class="nav-item">
                        <a href="store.html" class="nav-link">اتصل بنا </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="med-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 d-flex justify-content-start">
                        <a asp-area="Customer" asp-action="Index" asp-controller="Home" class="navbar-brand">
                            <img src="~/images/zlogo.png" alt="zia logo" />
                        </a>
                        <div class="search">
                            <div class="searchbar">
                                <input class="search_input"
                                       type="text"
                                       name=""
                                       placeholder="أبحث..." />
                                <a href="#" class="search_icon">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">

                        <div class="navbar-icons d-none d-lg-flex cart">
                            <a asp-controller="Home" asp-action="Index" asp-area="Customer" class="navbar-icon mx-2 navbar-cart-icon">
                                @if (HttpContextAccessor.HttpContext.Session.GetInt32(SD.ShoppingCartCount) == null)
                                {

                            <i class="fas fa-shopping-cart"></i>
                                            <div class="cart-items">(0)</div> }
                                                        else
                                                        {
                                            
                                                <i class="fas fa-shopping-cart"></i>
                                                <div class="cart-items">(@HttpContextAccessor.HttpContext.Session.GetInt32(SD.ShoppingCartCount))</div>
                                            }
                            </a>

                                <!-- end of  single icon -->
                            </div>



                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light nav-bottem">
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#myNavbar">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item mx-2 nav-active">
                        <a href="index.html" class="nav-link">افضل العروض </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="products.html" class="nav-link">الاكثر مبيعا</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="singleproduct.html" class="nav-link">كل المنتجات</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="store.html" class="nav-link">العسل </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="store.html" class="nav-link">المربي </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="store.html" class="nav-link">اضافات العسل </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="store.html" class="nav-link">اضافات المربي </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="store.html" class="nav-link"> منتجات اخري </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="store.html" class="nav-link">منتجات الاطفال </a>
                    </li>
                </ul>
            </div>
        </nav>
        
        
        <partial name="_Carsoul" />
       

    </header>


    <div class="container">
        <main role="main" class="pb-3">

        </main>
    </div>
    <!-- end of header section -->
    
    <!-- categories -->
    <section class="home-categories py-5">
        <div class="container">
            <div class="row">

                <!-- category title -->
                <div class="col-10 mx-auto col-md-6 col-lg-3 align-self-center">
                    <h5 class="text-uppercase text-rtl">المنتجات</h5>
                    <p class="text-muted text-rtl">
                        بتصريح من وزارة الصحة ,افضل المنتجات الطبيعية
                    </p>
                    <a href="products.html"
                       class="text-weight-bold text-capitalize categories-link text-rtl">
                        كل المنتجات
                    </a>
                    <div class="categories-underline"></div>
                </div>
                <!-- main -->
                @*<partial name="_allProduct"/>*@

            </div>
        </div>
    </section>
    <!-- end categories -->
    <!-- home filler -->
    <!-- end of home filler -->
    <!-- featured section -->
   
    <section class="featured py-5">
        <div class="container">
            <div class="row my-3">
                <div class="col-10 mx-auto text-center">
                    <h1 class="text-uppercase">كل المنتجات</h1>
                    <p class="text-muted text-rtl">
                        جميع المنتجات من خير الطبيعه 100% طبيعى بتصريح من وزارة الصحة
                    </p>
                </div>
            </div>
            @*<partial name="_Carsoul"/>*@
            <partial name="_allProduct" />
            @*<partial name="~/home/view/_itemsCategory" />*@
            @RenderBody()

        </div>
        <!--<div class="row">-->
        <!-- single product -->
        <!--<div class="col-10 mx-auto col-md-6 col-lg-4">
            <div class="featured-container p-5">
                <img src="img/ZIA products/حبة-البركة1.png"
                     class="img-fluid"
                     alt="product" />
                <span class="featured-search-icon"
                      data-toggle="modal"
                      data-target="#productModal">
                    <i class="fas fa-plus-circle"></i>
                </span>
                <a href="#" class="featured-store-link text-captilaze">اضافة</a>
            </div>
            <h6 class="text-capitalize text-center my-2">منتجات خاصة</h6>
            <h6 class="text-center">
                <span class="text-muted old-price mx-2">$200</span>
                <span>$100</span>
            </h6>
        </div>-->
        <!-- end single product -->
        <!--</div>-->
        </div>
    </section>
    <!-- end of  featured section -->
    <!-- partners -->
    <section class="partners py-5">
        <div class="container">
            <div class="row">
                <!-- compnay carousel -->
                <div class="col-6 col-md-6 col-lg-4 mx-auto">
                    <div id="partnerCarousel"
                         class="carousel slide"
                         data-ride="carousel">
                        <div class="carousel-inner">
                            <!-- single item -->
                            <div class="carousel-item active">
                                <img src="img/5.jpg"
                                     class="d-block w-100"
                                     alt="partner company" />
                            </div>
                            <!-- end single item -->
                            <!-- single item -->
                            <div class="carousel-item">
                                <img src="img/download.png"
                                     class="d-block w-100"
                                     alt="partner company" />
                            </div>
                            <!-- end single item -->
                            <!-- single item -->
                            <div class="carousel-item">
                                <img src="img/302.jpg"
                                     class="d-block w-100"
                                     alt="partner company" />
                            </div>
                            <!-- end single item -->
                            <!-- single item -->
                            <div class="carousel-item">
                                <img src="img/1200px-Logo_Carrefour_1966.svg.png"
                                     class="d-block w-100"
                                     alt="partner company" />
                            </div>
                            <!-- end single item -->
                            <!-- single item -->
                            <div class="carousel-item">
                                <img src="img/5.jpg"
                                     class="d-block w-100"
                                     alt="partner company" />
                            </div>
                            <!-- end single item -->
                            <!-- single item -->
                            <div class="carousel-item">
                                <img src="img/kheir-zaman-logo.png"
                                     class="d-block w-100"
                                     alt="partner company" />
                            </div>
                            <!-- end single item -->
                        </div>
                        <a href="#partnerCarousel"
                           class="carousel-control-prev"
                           role="button"
                           data-slide="prev">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                        <a href="#partnerCarousel"
                           class="carousel-control-next"
                           role="button"
                           data-slide="next">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of  partners -->
    <!-- newsletter -->
    <section class="newsletter py-5">
        <div class="container">
            <div class="row">
                <div class="col-10 mx-auto text-center">
                    <h3 class="text-uppercase">اشتركواحصل على اخر العروض</h3>
                    <p>
                        احصل على اخر العروض والاخبار والمنتجات الحصرية المصممه لك خصيصا
                    </p>
                    <form>
                        <div class="input-group mt-5 mb-4">
                            <input type="text"
                                   class="form-control text-capitalize"
                                   placeholder="enter your email" />
                            <div class="input-group-append">
                                <div class="input-group-text form-icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-yellow">اشترك</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- end newsletter -->
    <!-- skills -->
    <section class="skills py-5">
        <div class="container">
            <div class="row">
                <!-- single skill -->
                <div class="col-10 mx-auto col-md-6 col-lg-4 d-flex my-3">
                    <div class="skill-icon mr-3"><i class="fas fa-truck"></i></div>
                    <div class="skill-text">
                        <h3 class="text-uppercase text-white">شحن </h3>
                        <p class="text-muted text-capitalize">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
                            pariatur.
                        </p>
                    </div>
                </div>
                <!-- end of  single skill -->
                <!-- single skill -->
                <div class="col-10 mx-auto col-md-6 col-lg-4 d-flex my-3">
                    <div class="skill-icon mr-3">
                        <i class="fas fa-comment-dollar"></i>
                    </div>
                    <div class="skill-text">
                        <h3 class="text-uppercase text-white">افضل جودة</h3>
                        <p class="text-muted text-capitalize">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
                            pariatur.
                        </p>
                    </div>
                </div>
                <!-- end of  single skill -->
                <!-- single skill -->
                <div class="col-10 mx-auto col-md-6 col-lg-4 d-flex my-3">
                    <div class="skill-icon mr-3"><i class="fas fa-award"></i></div>
                    <div class="skill-text">
                        <h3 class="text-uppercase text-white">افضل عروض</h3>
                        <p class="text-muted text-capitalize">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
                            pariatur.
                        </p>
                    </div>
                </div>
                <!-- end of  single skill -->
            </div>
        </div>
    </section>
    <!-- end skills -->
    <!-- footer -->
    <footer class="py-5 footer">
        <div class="container">
            <div class="row">
                <div class="col-10 mx-auto text-center">
                    <h1 class="text-uppercase font-weight-bold text-yellow footer-title text-center d-inline-block">
                        تواصل معنا
                    </h1>
                    <div class="footer-icons my-5 d-flex justify-content-center">
                        <!-- single icon -->
                        <a href="#" class="footer-icon mx-2">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <!-- end of  single icon -->
                        <!-- single icon -->
                        <a href="#" class="footer-icon mx-2">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <!-- end of  single icon -->
                        <!-- single icon -->
                        <a href="#" class="footer-icon mx-2">
                            <i class="fab fa-google-plus"></i>
                        </a>
                        <!-- end of  single icon -->
                        <!-- single icon -->
                        <a href="#" class="footer-icon mx-2">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <!-- end of  single icon -->
                        <!-- single icon -->
                        <a href="#" class="footer-icon mx-2">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <!-- end of  single icon -->
                    </div>
                    <!-- end footer icons -->
                    <p class="text-muted text-capitalize w-75 mx-auto text-left">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quas
                        itaque minima rem esse aut eos inventore numquam nostrum placeat?
                    </p>
                    <div class="footer-contact mt-5 d-flex justify-content-around flex-wrap">
                        <!-- single contact -->
                        <div class="text-capitalize">
                            <span class="footer-icon mr-2">
                                <i class="fas fa-map"></i>
                            </span>
                            القاهرة , التجمع الخامس , مجمع البنوك
                        </div>
                        <!-- end of single contact -->
                        <!-- single contact -->
                        <div class="text-capitalize">
                            <span class="footer-icon mr-2">
                                <i class="fas fa-phone"></i>
                            </span>
                            phone : +20 1006075800
                        </div>
                        <!-- end of single contact -->
                        <!-- single contact -->
                        <div class="text-capitalize">
                            <span class="footer-icon mr-2">
                                <i class="fas fa-envelope"></i>
                            </span>
                            email : info@zia.com
                        </div>
                        <!-- end of single contact -->
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!--footer start-->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="hm-footer-copyright text-center">
                <div class="footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
                <p>


                    &copy; 2021 - Zia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>



                </p><!--/p-->
            </div><!--/.text-center-->
        </div><!--/.container-->

        <div id="scroll-Top">
            <div class="return-to-top">
                <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
            </div>

        </div><!--/.scroll-Top-->

    </footer><!--/.footer-->
    <!--footer end-->
    <!-- Include all js compiled plugins (below), or include individual files as needed -->

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--bootstrap.min.js-->
    <!-- bootsnav js -->
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/jquery.counterup.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.waypoints.min.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/nice.js" asp-append-version="true"></script>
    <script src="~/js/wow.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--owl.carousel.js-->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>


    <!--Custom JS-->


    @RenderSection("Scripts", required: false)
</body>
</html>
