@model Zia.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discreption" class="control-label"></label>
                <input asp-for="Discreption" class="form-control" />
                <span asp-validation-for="Discreption" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="CatImg" class="col-form-label"></label>
                </div>
                <div class="col-9">
                    <input type="file" asp-for="CatImg" class="form-group" />
                </div>
                <span asp-validation-for="CatImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamilyId" class="control-label"></label>
                <select asp-for="FamilyId" class="form-control" asp-items="ViewBag.FamilyId"></select>
                <span asp-validation-for="FamilyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoUploaderId" class="control-label"></label>
                <select asp-for="VideoUploaderId" class="form-control" asp-items="ViewBag.VideoURLId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

