@model Zia.Models.Coupon
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<Coupon.etype>()" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="MinimumAmount" class="control-label"></label>
                <input asp-for="MinimumAmount" class="form-control" />
                <span asp-validation-for="MinimumAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dicount" class="control-label"></label>
                <input asp-for="Dicount" class="form-control" />
                <span asp-validation-for="Dicount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input type="checkbox" asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>

            <div class="form-group">
                <partial name="_backToListAndCreartBtn" />
            </div>
        </form>
    </div>
</div>



